.qs-s09 {

}
.qs-s09-header {
    background-color: rgb(193, 17, 75);
    width: 100%;
    height: 50px;
    position: relative;
}
.qs-s09-header > img {
    position: absolute;
}
.qs-s09-header-left-1 {
    height: 40px;
    top: 5px;
    left: 10px;
}
.qs-s09-header-left-2 {
    height: 20px;
    top: 20px;
    left: 65px;
}
.qs-s09-header-right-1 {
    height: 16px;
    top: 22px;
    right: 132px;
}
.qs-s09-header-right-2 {
    height: 38px;
    top: 4px;
    right: 32px;
}
.qs-s09-header-right-3 {
    height: 8px;
    bottom: 4px;
    right: 4px;
}
.qs-s09-footer {
    position: absolute;
    bottom: 0;
    background-color: #000;
    width: 100%;
    height: 50px;
}
.qs-s09-logo {
    position: absolute;
    left: 15px;
    top: 7px;
    background-image: url(../assets/common/icons/80.png);
    background-size: cover;
    border-radius: 8px;
    width: 36px;
    height: 36px;
}
.qs-s09-description {
    position: absolute;
    left: 65px;
    color: #fff;
    height: 50px;
    line-height: 50px;
}
.qs-s09-download {
    position: absolute;
    right: 15px;
    top: 10px;
    background-image: url(../assets/s09/download.png);
    background-size: cover;
    width: 85px;
    height: 30px;
}
.qs-s09-main {
    width: 100%;
    height: calc(100% - 50px - 50px);
}
.qs-s09-show {
    float: left;
    width: 75%;
    height: 100%;
}
.qs-s09-side {
    float: left;
    width: 25%;
    height: 100%;
}
.qs-s09-thumb-show {
    width: 100%;
    height: 40%;
}
.qs-s09-thumb-item-container {
    width: 100%;
    height: 20%;
}
.qs-s09-thumb-item {
    float: left;
    width: 50%;
    height: 100%;
}
