html {
    font-size: 16px;
}
body {
    margin: 0;
}

.qs-page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.p02-background {
    position: absolute;
    background-image: url(http://trial01.focosee.com/img/app-web/assets/slicing/p02/background.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.p02-show {
    transform: rotate(4deg);
    position: absolute;
    width: 82%;
    height: 82%;
    top: 8%;
    left: 12%;
    background-color: #fff;
}

.p02-show-cover {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

.p02-show-cover-foreground {
    position: absolute;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}


.p02-download {
    position: absolute;
    background-image: url(http://trial01.focosee.com/img/app-web/assets/slicing/p02/download.png?2015-08-24);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    bottom: 0;
    height: 20%;
    width: 100%;
    /*box-shadow: 0px -4px 12px #999;*/
}

.p02-image-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.p02-image-slider-block-content {
    padding-top: 3%;
    width: 100%;
}

.p02-image-slider-block-image-container {
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

.p02-image-slider-block-image {
    width: 100%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.p02-image-slider-block-text {
    margin-top: 6%;
    font-size: 20px;
    font-family: "Lantinghei SC";
    text-align: center;
}

.p02-image-slider .slick-slide {
    opacity: .5;
    transform: scale(.8, .8);
    -ms-transform: scale(.8, .8);
    -webkit-transform: scale(.8, .8);
    margin: 8px;
    transition: transform .3s;
    -moz-transition: -moz-transform .3s; /* Firefox 4 */
    -webkit-transition: -webkit-transform .3s; /* Safari 和 Chrome */
}
.p02-image-slider .slick-current {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
.p02-image-slider .slick-arrow {
    display: none !important;
}
.p02-image-slider {
    margin: 0 !important;
}

.p03-background {
    position: absolute;
    background-image: url(http://trial01.focosee.com/img/app-web/assets/slicing/p03/background.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.p03-download {
    position: absolute;
    background-image: url(http://trial01.focosee.com/img/app-web/assets/slicing/p02/download.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    bottom: 0;
    height: 12%;
    width: 100%;
    /*box-shadow: 0px -4px 12px #999;*/
}

.p03-trade-item-qingshow-discount-title {
    padding-top: 6%;
    font-size: 15px;
    font-family: "Lantinghei SC";
    text-align: center;
    color: #f83e5b;
}

.p03-trade-item-title {
    font-size: 15px;
    font-family: "Lantinghei SC";
    text-align: center;
    width: 90%;
    height: 10%;

    /*TODO*/
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.p03-trade-item-tmall-price-block-container {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 90%;
}
.p03-trade-item-tmall-price-block {
    font-size: 16px;
    text-align: center;
    padding-top: 70%;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);

    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.p03-trade-item-tmall-price-text {
    color: white;
    background-color: rgba(0,0,0,0.6);
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: "Lantinghei SC";
}

.p03-trade-item-price-number {
    padding-left: 20px;
    text-decoration: line-through;
}

.p03-trade-item-actual-price-container {
    text-align: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}
.p03-trade-item-actual-price-content {
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.p03-trade-item-discount-number {
    font-size: 36px;
    font-family: "Lantinghei SC";
    color:white;
    height: 40px;
    display: inline-block;
    padding-right: 5px;
}
.p03-trade-item-actual-price-number {
    font-size: 23px;
    font-family: "Lantinghei SC";
    color:white;
    display: inline-block;
    height: 30px;
    vertical-align:middle;
    padding-bottom: 15px;
    padding-left: 5px;
}


.p03-trade-item-qingshow-price-text-container{
    text-align: center;
}

.p03-trade-item-qingshow-price-text {
    font-size: 17px;
    font-family: "Lantinghei SC";
    color: #f83e5b;
}

.p03-trade-item-qingshow-sale-text {
    font-size: 28px;
    font-family: "Lantinghei SC";
    color: #f83e5b;
}

.p03-image-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

.p03-image-slider-block-content {
    padding-top: 3%;
    width: 100%;
}

.p03-image-slider-block-image-container {
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}

.p03-image-slider-block-image {
    width: 100%;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.p03-image-slider-block-text {
    margin-top: 6%;
    font-size: 20px;
    font-family: "Lantinghei SC";
    text-align: center;
}

.p03-image-slider .slick-slide {
    opacity: .5;
    transform: scale(.8, .8);
    -ms-transform: scale(.8, .8);
    -webkit-transform: scale(.8, .8);
    margin: 8px;
    transition: transform .3s;
    -moz-transition: -moz-transform .3s; /* Firefox 4 */
    -webkit-transition: -webkit-transform .3s; /* Safari 和 Chrome */
}
.p03-image-slider .slick-current {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
.p03-image-slider .slick-arrow {
    display: none !important;
}
.p03-image-slider {
    margin: 0 !important;
}



.p04-background {
    position: absolute;
    background-image: url(../assets/slicing/bonus/share_bonus_background.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.p04-waiting-container {
    position: absolute;
    top: 30%;
    left: 15%;
    height: 12%;
    width: 70%;
    text-align: center;
}

.p04-title {
    font-size: 22px;
    font-family: "Lantinghei SC";
    color: #c8104e;
}

.p04-subtitle {
    font-size: 10px;
    font-family: "Lantinghei SC";
    color: #434343;
}

.p04-request-complete-container {
    position: absolute;
    top: 30%;
    left: 15%;
    height: 12%;
    width: 70%;
    text-align: center;
}
.p04-request-complete-arrow {
    background-image: url(../assets/slicing/bonus/share_bonus_complete_down_arrow.png);
    width: 100%;
    height: 20%;
    margin-top: 2%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}


.p04-circle-count-container {
    position: absolute;
    top: 42%;
    left: 24%;
    height: 30%;
    width: 52%;
}

.p04-circle-count-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.p04-circle-count-remain-time-container {
    position: absolute;
    top : 35%;
    left : 0;
    text-align: center;
    width: 100%;
    font-family: "Lantinghei SC";
}

.p04-circle-count-remain-time-title {
    font-size: 10px;
    color: #d60051;
}

.p04-circle-count-remain-time-number {
    font-size: 34px;
    color: #d60051;
}

.p04-circle-count-request-complete-container {
    position: absolute;
    top : 20%;
    left : 0;
    text-align: center;
    width: 100%;
    height: 60%;
    font-family: "Lantinghei SC";
}

.p04-circle-count-request-complete-icon {
    background-image: url(../assets/slicing/bonus/share_bonus_withdraw_submit_icon.png);
    width: 100%;
    height: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

.p04-circle-count-request-complete-text {
    margin-top: 5%;
    font-size: 24px;
    color: #d60051;
}


.p04-download {
    position: absolute;
    background-image: url(../assets/slicing/bonus/share_bonus_app_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    bottom: 11%;
    left: 35%;
    height: 15%;
    width: 30%;
}

.p04-bottom-text {
    position: absolute;
    bottom: 4%;
    left: 15%;
    height: 5%;
    width: 70%;
    text-align: center;
}

.p04-withdraw-success-alert {
    position: absolute;
    top: 50%;
    left: 23%;
    width: 54%;
    height: 15%;
    background-color: white;

    -webkit-box-shadow:0 0 15px #000;
    -moz-box-shadow:0 0 15px #000;
    box-shadow:0 0 15px #000;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    font-family: "Lantinghei SC";
    text-align: center;
}

.p04-withdraw-success-alert-title {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 20%;
    font-size: 12px;
}

.p04-withdraw-success-alert-splitter {
    position: absolute;
    top: 60%;
    width: 100%;
    height: 1px;
    background-color: #a91a4e;
}

.p04-withdraw-success-alert-OK {
    position: absolute;
    top: 61%;
    height: 29%;
    left : 0;
    width: 100%;
    color : #c8104e;
    font-size: 15px;
    padding-top: 5%;
}