<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltCollocation {
        cursor: default;
        position: relative;
        background-color: #000;
        width: 640px;
        height: 60px;
    }
    .qsTpltCollocation .qsBackground {
    }

    .qsTpltCollocation .qsNavi {
        width: 640px;
        height: 60px;
        position: absolute;
        bottom: 0;
    }
    .qsTpltCollocation .qsNavi .qsTab {
        width: 159px;
        height: 100%;
        float: left;
        text-align: center;
        color: #fff;
        background-color: rgba(0,0,0,.5);
    }
    .qsTpltCollocation .qsNavi .qsTabSplitter {
        float: left;
        width: 1px;
        height: 100%;
        background-color: rgba(255,255,255,.7);
    }
    .qsTpltCollocation .qsNavi .qsTab .qsNumber {
        margin-top: 6px;
    }
    .qsTpltCollocation .qsNavi .qsTabSelected {
        color: inherit;
        background-color: rgba(255,255,255,.7);
    }
    .qsTpltCollocation .qsNavi .qsTabSelected .qsNumber {
    }
    .qsTpltCollocation .qsInfo {
        width: 100%;
        height: 224px;
        color: #fff;
    }
</style>

<div id="wrapper" style="width: 640px; height: 320px; position: relative; margin: auto;">
    <div class="qsTpltCollocation">
        <div class="qsNavi">
            <div class="qsTab qsTabSelected">
                <div class="qsNumber numUppers fakeText">
                    126
                </div>
                <div class="qsTitle">
                    上装
                </div>
            </div>
            <div class="qsTabSplitter"></div>
            <div class="qsTab">
                <div class="qsNumber numLowers fakeText">
                    1,293
                </div>
                <div class="qsTitle">
                    下装
                </div>
            </div>
            <div class="qsTabSplitter"></div>
            <div class="qsTab">
                <div class="qsNumber numShoes fakeText">
                    855
                </div>
                <div class="qsTitle">
                    鞋子
                </div>
            </div>
            <div class="qsTabSplitter"></div>
            <div class="qsTab">
                <div class="qsNumber numAccessories fakeText">
                    855
                </div>
                <div class="qsTitle">
                    配饰
                </div>
            </div>
        </div>
    </div>
</div>
