<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltCollocatedGallery {
        cursor: default;
        position: relative;
        width: 640px;
        min-height: 100px;
        overflow: auto;
    }
    .qsTpltCollocatedGallery .qsCollocatedContainer {
        overflow: auto;
        width: 550px;
        min-height: 100px;
        float: left;
    }
    .qsTpltCollocatedGallery .qsTpltCollocated {
        position: relative;
        margin: 10px 5px;
        float: left;
    }
    .qsTpltCollocatedGallery .qsTpltCollocated:first-child {
        margin-left: 10px;
    }
    .qsTpltCollocatedGallery .qsTpltCollocated:last-child {
        margin-right: 10px;
    }
    .qsTpltCollocatedGallery .qsPItemCover {
        border-radius: 4px;
        width: 80px;
        height: 80px;
        background-image: url('../../../../server-image-fake/covers/moto01.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .qsTpltCollocatedGallery .qsCollocate {
        position: absolute;
        right: 5px;
        bottom: 5px;
        font-size: 18px;
        color: #21b384;
        text-shadow: 1px 1px 0px #fff;
    }
    .qsTpltCollocatedGallery .qsConfirmContainer {
        float: left;
        overflow: auto;
        width: 80px;
        min-height: 100px;
    }
    .qsTpltCollocatedGallery .qsNumCollocated {
        position: absolute;
        width: 80px;
        text-align: center;
        bottom: 64px;
    }
    .qsTpltCollocatedGallery .qsConfirm {
        opacity: .9;
        font-size: 18px;
        text-align: center;
        line-height: 36px;
        bottom: 20px;
        position: absolute;
        width: 80px;
        height: 36px;
        right: 10px;
    }
</style>

<div id="wrapper" style="width: 640px; height: 160px; position: relative; margin: auto;">
    <div class="qsTpltCollocatedGallery">
        <div class="qsCollocatedContainer">
            <div class="qsTpltCollocated clone">
                <div class="qsPItemCover fakeBackgroundImage" ></div>
                <div class="qsCollocate fa fa-check-circle-o"></div>
            </div>
        </div>
        <div class="qsConfirmContainer">
            <span class="qsNumCollocated fakeText">12</span>
            <div class="qsConfirm qsButtonHighlight">
                确定
            </div>
        </div>
    </div>
</div>
