<div id="shareshow">
<div class="navbar">
        <div class="container clearfix">
             <div class="navbar-left pull-left">
                <img class="avatar" id="portrait" src=" " />
                <ul class="info-meta pull-left">
                    <li class="username"></li>
                    <li class="date"></li>
                </ul>
             </div>
             <div class="navbar-right pull-right">
             </div>
        </div>
    </div>
    <div class="section-container">
        <div class="section" >
           <div class="share-imagearea" style="">
                <img class="share-deep" src="http://trial01.focosee.com/front/41.png" />
                <div class="share-img-container">
                    <div class="img-mask" style="width:93%; margin:33% auto auto 4%;">
                        <img class="share-img" style="width:100%;" src="http://trial01.focosee.com/img/show/cover/566c3769c875c8fa3e6a05f6.jpeg" />
                       <!--  <div class="share-item-box" style="width:20%; height:20%; left:20%; top:20%;">
                            <span class="flag">立减<em>90</em></span>
                        </div> -->
                    </div>
                </div>
                <img class="share-imgmask" src="http://trial01.focosee.com/front/41.png" />
                
            </div>
            
        </div><!-- /.section -->
        <div class="appdown">
            <span class="text">意想不到的超低价等着你</span>
            <span class="arr"></span>
            <a class="download">点击下载<span class="logo"></span></a>
        </div>
        
        <div class="section">
            <div class="navtab clearfix">
                <div id="navtab1" class="navtab-item navtab-x2 active pull-left" onclick="document.getElementById('show1').style.display='block';document.getElementById('show2').style.display='none'; document.getElementById('navtab1').className='navtab-item navtab-x2 active pull-left';document.getElementById('navtab2').className='navtab-item navtab-x2 pull-left';">
                    的其他美搭
                </div>
                <div id="navtab2" class="navtab-item navtab-x2 pull-left" onclick="document.getElementById('show2').style.display='block';document.getElementById('show1').style.display='none';document.getElementById('navtab2').className='navtab-item navtab-x2 active pull-left';document.getElementById('navtab1').className='navtab-item navtab-x2 pull-left';">
                    倾秀最热美搭
                </div>
            </div>
            <div class="tabcontent">
                <div id="show1" class="shows active clearfix">
                    <!-- <div class="show-item pull-left">
                       <div class="thumbnail">
                            <img class="show-deep" src="http://trial01.focosee.com/front/41.png" />
                            <div class="show-img-container">
                                <img class="show-img" style="width:93%; margin:33% auto auto 4%;" src="http://trial01.focosee.com/img/show/cover/566c3769c875c8fa3e6a05f6.jpeg" />
                            </div>
                            <img class="show-imgmask" src="http://trial01.focosee.com/front/41.png" />
                        </div>
                        <div class="show-info clearfix">
                            <div class="avatar">
                                <img src="images/avatar.png" class="avatar-img" />
                                <span class="flag-crown"></span>
                            </div>
                            <p class="username">不要用鼻孔看我</p>
                            <p class="time clearfix"><i class="icon-clock pull-left"></i><span class="pull-left text">22s</span></p>
                            <p class="hits pull-right"><i class="icon-eye"></i><span class="text">300</span></p>
                        </div>
                    </div> --><!-- /.show-item -->
        
                </div><!-- /.shows -->
                <div id="show2" class="shows clearfix">
                 <!--    <div class="show-item pull-left">
                       <div class="thumbnail">
                            <img class="show-deep" src="http://trial01.focosee.com/front/41.png" />
                            <div class="show-img-container">
                                <img class="show-img" style="width:93%; margin:33% auto auto 4%;" src="http://trial01.focosee.com/img/show/cover/566c3769c875c8fa3e6a05f6.jpeg" />
                            </div>
                            <img class="show-imgmask" src="http://trial01.focosee.com/front/41.png" />
                        </div>
                        <div class="show-info clearfix">
                            <div class="avatar">
                                <img src="images/avatar.png" class="avatar-img" />
                                <span class="flag-crown"></span>
                            </div>
                            <p class="username">不要用鼻孔看我</p>
                            <p class="time clearfix"><i class="icon-clock pull-left"></i><span class="pull-left text">22s</span></p>
                            <p class="hits pull-right"><i class="icon-eye"></i><span class="text">300</span></p>
                        </div>
                    </div> --><!-- /.show-item -->
                   <!--  <div class="show-item pull-left">
                       <div class="thumbnail">
                            <img class="show-deep" src="http://trial01.focosee.com/front/41.png" />
                            <div class="show-img-container">
                                <img class="show-img" style="width:93%; margin:33% auto auto 4%;" src="http://trial01.focosee.com/img/show/cover/566c3769c875c8fa3e6a05f6.jpeg" />
                            </div>
                            <img class="show-imgmask" src="http://trial01.focosee.com/front/41.png" />
                        </div>
                        <div class="show-info clearfix">
                            <div class="avatar">
                                <img src="images/avatar.png" class="avatar-img" />
                                <span class="flag-crown"></span>
                            </div>
                            <p class="username">不要用鼻孔看我</p>
                            <p class="time clearfix"><i class="icon-clock pull-left"></i><span class="pull-left text">22s</span></p>
                            <p class="hits pull-right"><i class="icon-eye"></i><span class="text">300</span></p>
                        </div>
                    </div> --><!-- /.show-item -->
                </div><!-- /.shows -->
            </div><!-- /.tab-content -->
        </div><!-- /.section -->
    </div><!-- /.section-container -->

</div>