<div class="qs-page">
    <div class="p02-background"></div>
    <div class="slider p02-image-slider">
        <div>
            <div class="p02-image-slider-block-content">
                <div class="p02-image-slider-block-image-container">
                    <img class="p02-image-slider-block-image"/>
                </div>
                <div class="p02-image-slider-block-text" style="color: #7c005a">为我的美搭点赞！<br>玩转潮流秀出时尚</div>
            </div>
        </div>
        <div>
            <div class="p02-image-slider-block-content">
                <div class="p02-image-slider-block-image-container">
                    <div class="p02-image-slider-block-image"></div>
                </div>

                <div class="p02-image-slider-block-text" style="color: #440062">万件热门潮品，搭配由你掌握</div>
            </div>
        </div>
        <div>
            <div class="p02-image-slider-block-content">
                <div class="p02-image-slider-block-image-container">
                    <div class="p02-image-slider-block-image"></div>
                </div>
                <div class="p02-image-slider-block-text" style="color: #005982">全球时尚搭配潮人汇集地</div>
            </div>
        </div>
        <div>
            <div class="p02-image-slider-block-content">
                <div class="p02-image-slider-block-image-container">
                    <div class="p02-image-slider-block-image"></div>
                </div>
                <div class="p02-image-slider-block-text" style="color: #440062">当季品牌新品，折扣由你决定</div>
            </div>
        </div>
    </div>
    <div class="p02-download"></div>
</div>
