<div class="qs-page">
    <div class="p03-background"></div>
    <div class="slider p03-image-slider">
        <div>
            <div class="p03-image-slider-block-content">
                <div class="p03-image-slider-block-image-container">

                    <div class="p03-image-slider-block-image">

                        <div class="p03-trade-item-qingshow-discount-title">倾秀宝贝折扣申请成功</div>
                        <div class="p03-trade-item-title">ZARA 2015秋季新款廓形 修身翻领大衣翻领大衣翻大衣翻大衣翻大衣翻大衣翻</div>
                        <div class="p03-trade-item-tmall-price-block-container">
                            <div class="p03-trade-item-tmall-price-block">
                                <span class="p03-trade-item-tmall-price-text">
                                    天猫价:<span class="p03-trade-item-price-number">700</span>
                                </span>
                            </div>
                        </div>

                        <div class="p03-trade-item-actual-price-container">
                            <div class="p03-trade-item-actual-price-content">
                                <span class="p03-trade-item-discount-number">5折</span><span class="p03-trade-item-actual-price-number">399.00</span>
                            </div>
                        </div>
                        <div class="p03-trade-item-qingshow-price-text-container">
                            <span class="p03-trade-item-qingshow-price-text">倾秀购买价</span> <span class="p03-trade-item-qingshow-sale-text">SALE</span>
                        </div>

                    </div>
                </div>
                <div class="p03-image-slider-block-text" style="color: #440062">当季新品 折扣你定</div>
            </div>
        </div>

        <div>
            <div class="p03-image-slider-block-content">
                <div class="p03-image-slider-block-image-container">
                    <div class="p03-image-slider-block-image"></div>
                </div>

                <div class="p03-image-slider-block-text" style="color: #440062">万件潮品 随心搭配</div>
            </div>
        </div>
        <div>
            <div class="p03-image-slider-block-content">
                <div class="p03-image-slider-block-image-container">
                    <div class="p03-image-slider-block-image"></div>
                </div>
                <div class="p03-image-slider-block-text" style="color: #005982">全球时尚 一手掌握</div>
            </div>
        </div>
        <div>
            <div class="p03-image-slider-block-content">
                <div class="p03-image-slider-block-image-container">
                    <div class="p03-image-slider-block-image"></div>
                </div>
                <div class="p03-image-slider-block-text" style="color: #440062">当季新品 折扣你定</div>
            </div>
        </div>
    </div>

    <div class="p03-download"></div>
</div>
