<div class="qs-page">
    <div>
        <div class="p03-background"></div>
        <div class="p03-trade">
            <div class="p03-discount-title">恭喜！折扣申请成功！</div>
            <div class="p03-split p03-split-position-up" ></div>
            <div class="p03-trade-item-cover"></div>
            <div class="p03-trade-item-title"></div>
            <div class="p03-trade-item-price"><span class="p03-trade-item-price-label">原价：</span><span class="p03-trade-item-price-number"></span></div>
            <div class="p03-trade-item-tmall-price"><span class="p03-trade-item-tmall-price-label">天猫价：</span><span class="p03-trade-item-tmall-price-number"></span></div>
            <div class="p03-split p03-split-position-down" ></div>
            <div class="p03-discount-content-text">淘宝天猫当季新品也可以享受折扣哦！</div>

            <div class="p03-actual-price-container">
                <div class="p03-trade-item-qingshow-discount"><span class="p03-trade-item-qingshow-discount-title">成功申请折扣：</span><span class="p03-trade-item-qingshow-discount-number"></span></div>
                <div class="p03-trade-item-qingshow-price"><span class="p03-trade-item-qingshow-price-title">购买价格：</span><span class="p03-trade-item-qingshow-price-number"></span></div>
            </div>
        </div>
        <div class="p03-ribbon"></div>
    </div>
    <div class="p03-download"></div>
    <div class="p03-success"></div>
</div>
