<div class="qs-page">
    <div class="p02-background"></div>
    <div class="slider p02-image-slider">
        <div>
            <div class="p02-image-slider-block-content">
                <div class="p02-image-slider-block-image-container">
                    <div class="p02-image-slider-block-image">
                        <div class="p02-bonus-total-text">佣金总计：<span class="p02-bonus-total-text-number"></span></div>
                        <div class="p02-bonus-current-text">提现金额：<span class="p02-bonus-current-text-number"></span></div>
                    </div>
                </div>
                <div class="p02-image-slider-block-text" style="color: #7c005a">搭的越美 赚的越多</div>
            </div>
        </div>
        <div>
            <div class="p02-image-slider-block-content">
                <div class="p02-image-slider-block-image-container">
                    <div class="p02-image-slider-block-image"></div>
                </div>

                <div class="p02-image-slider-block-text" style="color: #440058">当季新品 折扣你定</div>
            </div>
        </div>
        <div>
            <div class="p02-image-slider-block-content">
                <div class="p02-image-slider-block-image-container">
                    <div class="p02-image-slider-block-image"></div>
                </div>
                <div class="p02-image-slider-block-text" style="color: #7d0022">万件潮品 随心搭配</div>
            </div>
        </div>
        <div>
            <div class="p02-image-slider-block-content">
                <div class="p02-image-slider-block-image-container">
                    <div class="p02-image-slider-block-image"></div>
                </div>
                <div class="p02-image-slider-block-text" style="color: #004f82">全球时尚 一手掌握</div>
            </div>
        </div>
    </div>
    <div class="p02-download"></div>
</div>
