<link href="../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltCategoryMenu {
        overflow: auto;
        background: rgba(255,255,255,.9);
    }
    .qsTpltCategoryMenu > ul {
        margin: 0;
        overflow: auto;
        padding: 24px 90px 24px 90px;
    }
    .qsTpltCategoryMenu > ul > li {
        list-style-type: none;
        display: inline-block;
        float: left;
        margin: 0 59px 0 0;
        width: 114px;
        height: 154px;
    }
    .qsTpltCategoryMenu .qsRightEdge {
        margin-right: 0;
    }
    .qsTpltCategoryMenu .qsBottomEdge {
        margin-bottom: 0;
    }

    .qsTpltCategoryMenu .qsCategoryIcon {
        width: 114px;
        height: 114px;
    }
    .qsTpltCategoryMenu .qsCategoryText {
        width: 114px;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }
    .qsTpltCategoryMenu .qsCategoryIcon {
        cursor: pointer;
    }
    .qsHot {
        background-image: url('./assets/categories/btn_01_default.png');
    }
    .qsHot:hover {
        /*background-image: url('./assets/categories/btn_01_enter.png');*/
    }
    .qsWomen {
        background-image: url('./assets/categories/btn_02_default.png');
    }
    .qsWomen:hover {
        /*background-image: url('./assets/categories/btn_02_enter.png');*/
    }
    .qsMen {
        background-image: url('./assets/categories/btn_03_default.png');
    }
    .qsMen:hover {
        /*background-image: url('./assets/categories/btn_03_enter.png');*/
    }
    .qsShoe {
        background-image: url('./assets/categories/btn_04_default.png');
    }
    .qsShoe:hover {
        /*background-image: url('./assets/categories/btn_04_enter.png');*/
    }
    .qsBag {
        background-image: url('./assets/categories/btn_05_default.png');
    }
    .qsBag:hover {
        /*background-image: url('./assets/categories/btn_05_enter.png');*/
    }
    .qsAccessory {
        background-image: url('./assets/categories/btn_06_default.png');
    }
    .qsAccessory:hover {
        /*background-image: url('./assets/categories/btn_06_enter.png');*/
    }
    .qsCosmetic {
        background-image: url('./assets/categories/btn_07_default.png');
    }
    .qsCosmetic:hover {
        /*background-image: url('./assets/categories/btn_07_enter.png');*/
    }
    .qsBrand {
        background-image: url('./assets/categories/btn_08_default.png');
    }
    .qsBrand:hover {
        /*background-image: url('./assets/categories/btn_08_enter.png');*/
    }
</style>

<div id="wrapper" style="width: 640px; position: relative; margin: auto;">
    <div class="qsTpltCategoryMenu">
        <ul>
            <li class="qsCategoryContainer">
                <div class="qsCategoryIcon qsHot"></div>
                <div class="qsCategoryText">
                    最热
                </div>
            </li>
            <li class="qsCategoryContainer">
                <div class="qsCategoryIcon qsWomen"></div>
                <div class="qsCategoryText">
                    女装
                </div>
            </li>
            <li class="qsCategoryContainer qsRightEdge">
                <div class="qsCategoryIcon qsMen"></div>
                <div class="qsCategoryText">
                    男装
                </div>
            </li>

            <li class="qsCategoryContainer">
                <div class="qsCategoryIcon qsShoe"></div>
                <div class="qsCategoryText">
                    鞋子
                </div>
            </li>
            <li class="qsCategoryContainer">
                <div class="qsCategoryIcon qsBag"></div>
                <div class="qsCategoryText">
                    包包
                </div>
            </li>
            <li class="qsCategoryContainer qsRightEdge">
                <div class="qsCategoryIcon qsAccessory"></div>
                <div class="qsCategoryText">
                    配饰
                </div>
            </li>

            <li class="qsCategoryContainer qsBottomEdge">
                <div class="qsCategoryIcon qsCosmetic"></div>
                <div class="qsCategoryText">
                    美妆
                </div>
            </li>
            <li class="qsCategoryContainer qsBottomEdge">
                <div class="qsCategoryIcon qsBrand"></div>
                <div class="qsCategoryText">
                    品牌
                </div>
            </li>
        </ul>
    </div>
</div>