<link href="../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltHomeHeader {
        position: relative;
        width: 100%;
        height: 96px;
        background-color: #fff;
    }
    .qsTpltHomeHeader .qsCategoryMenu {
        height: 96px;
        width: 120px;
        position: absolute;
    }
    .qsTpltHomeHeader .qsCategoryMenu .qsIcon {
        position: absolute;
        left: 20px;
        top: 24px;
        font-size: 48px;
    }
    .qsTpltHomeHeader .qsSlogan {
        position: absolute;
        right: 20px;
        top: 28px;
        width: 166px;
        height: 32px;
        background-image: url('./assets/slogan.png');
    }
    .qsTpltHomeHeader .qsLogo {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('./assets/logo.png');
    }
</style>
<div id="wrapper" style="width: 640px; position: relative; margin: auto;">
    <div class="qsTpltHomeHeader">
        <div class="qsCategoryMenu qsIconButton">
            <div class="qsIcon fa fa-bars"></div>
        </div>
        <div class="qsLogo"></div>
        <div class="qsSlogan"></div>
    </div>
</div>