mongodb/db

# Exclude OS X folder attributes
.DS_Store

# For IOS Client
*~.nib
*.swp
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata

# For Android Client
client-mobile/qingshow_android/.idea
client-mobile/qingshow_android/out
client-mobile/qingshow_android/bin

#ignore WebStorm file
server-node/.idea
.picasa.ini
goblin-tbshop/.idea
app-web/.idea

#ignore public
server-node/public
.project
server-node/lib/logs

#for goblin
admin-tools/goblin-tbitem/.idea
admin-tools/goblin-tbitem/logs
admin-tools/goblin-tbshop/.idea
admin-tools/imgResizer/out
admin-tools/imgResizer/.idea

#app-web
app-web/target
app-web/.idea

#server-pay
server-pay/payment/build/
server-pay/payment/target/
winston.log.*
server-node/projectFilesBackup/.idea
goblin-slaver/.idea
app-android-native/app/app.iml
app-android-native/likePinterest/likePinterest.iml
app-android-native/pullRefresh/pullRefresh.iml
admin-web/.idea/.name
admin-web/.idea/admin-web.iml
admin-web/.idea/jsLibraryMappings.xml
admin-web/.idea/misc.xml
admin-web/.idea/modules.xml
admin-web/.idea/vcs.xml
admin-web/.idea/workspace.xml
.idea/.name
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/qaplug_profiles.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/com_lurencun_common_v1_5_6_with_src.xml
.idea/libraries/commons_httpclient_3_0_1.xml
.idea/libraries/gradle_wrapper.xml
.idea/libraries/imgscalr_lib_4_2.xml
.idea/libraries/libs.xml
app-android-native/app/src/androidTest/androidTest.iml
app-android-native/app/src/main/main.iml
app-android-native/likePinterest/src/main/main1.iml
app-android-native/pullRefresh/src/main/main2.iml
server-payment/payment/payment.iml
