<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltCommonHeader {
        position: relative;
        width: 100%;
        height: 96px;
        background-color: #fff;
    }
    .qsTpltCommonHeader .qsTitle {
        font-size: 40px;
        line-height: 96px;
        width: 100%;
        height: 100%;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../../templates/assets/logo.jpg');
    }
    .qsTpltCommonHeader .qsLeft, .qsTpltCommonHeader .qsRight {
        height: 96px;
        width: 96px;
        position: absolute;
        top: 0px;
        cursor: pointer;
    }
    .qsTpltCommonHeader .qsText {
        font-size: 1.25em;
    }
    .qsTpltCommonHeader .fa {
        font-size: 40px;
    }
    .qsTpltCommonHeader .qsLeft {
        left: 0px;
    }
    .qsTpltCommonHeader .qsLeft .qsText, .qsTpltCommonHeader .qsRight .qsText {
        position: absolute;
        line-height: 96px;
        text-align: center;
        width: 100%;
    }
    .qsTpltCommonHeader .qsLeft .qsText {
    }
    .qsTpltCommonHeader .qsRight {
        right: 0px;
    }
    .qsTpltCommonHeader .qsRight .qsText {
    }
</style>
<div id="wrapper" style="width: 640px; position: relative; margin: auto;">
    <div class="qsTpltCommonHeader">
        <div class="qsLeft">
            <div class="qsText"></div>
        </div>
        <div class="qsTitle qsHighlight fakeText">
            标题
        </div>
        <div class="qsRight">
            <div class="qsText"></div>
        </div>
    </div>
</div>