<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltMainHeader {
        position: relative;
        width: 100%;
        height: 96px;
        background-color: #fff;
    }
    .qsTpltMainHeader .qsMenu {
        left: 0px;
    }
    .qsTpltMainHeader .qsUser {
        right: 0px;
    }
    .qsTpltMainHeader .qsIconButton {
        position: absolute;
        top: 0px;
        width: 96px;
        height: 96px;
    }
    .qsTpltMainHeader .qsIconButton .qsIcon {
        position: absolute;
        left: 20px;
        top: 24px;
        font-size: 48px;
    }
    .qsTpltMainHeader .qsLogo {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../../templates/assets/logo.png');
    }
</style>
<div id="wrapper" style="width: 640px; position: relative; margin: auto;">
    <div class="qsTpltMainHeader">
        <div class="qsMenu qsIconButton">
            <div class="qsIcon fa fa-bars"></div>
        </div>
        <div class="qsLogo"></div>
        <div class="qsUser qsIconButton">
            <div class="qsIcon fa fa-user"></div>
        </div>
    </div>
</div>