<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" href="../../../css/style.css" />
<style>
    .s09-show {
        height: 100%;
    }
    .s09-show .qs-video {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .s09-show .qs-video > video {
        object-fit: cover;
    }
    .s09-show .qs-poster-slick-container {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .s09-show .qs-poster-slick-container .slick-dots {
        bottom: 12%;
    }
    .s09-show .qs-poster-slick-container .slick-dots li {
        margin: 0 2px;
    }
    .s09-show .qs-poster-slick-container .slick-dots .slick-active button:before {
        color: #fff;
    }
    .s09-show .qs-poster-slick-container .slick-list {
        overflow: hidden;
    }
    .s09-show .qs-poster-slick {
        width: 100%;
        height: 100%;
        padding: 0px;
        float: left;
    }
    .s09-show .qs-poster {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }
    .s09-show .qs-play {
        width: 60px;
        position: absolute;
        left: calc(50% - 60px / 2);
        top: calc(50% - 60px / 2 - 20px);
    }
    .s09-show .qs-shadow {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .s09-show .qs-portrait {
        width: 15%;
        border: 1px solid #fff;
        position: absolute;
        left: 5%;
        bottom: 5%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .s09-show .qs-pause {
        width: 15%;
        position: absolute;
        right: 8%;
        bottom: 5%;
    }
</style>
<div class="qs-component s09-show">
    <div class="qs-video-container">
        <video class="clone qs-video video-js vjs-default-skin"
        preload="auto"
        data-setup="{}"></video>
    </div>
    <div class="qs-poster-slick-container">
        <div class="clone qs-poster-slick">
            <div class="qs-poster fake-css-background-image" style="background-image: url('http://trial01.focosee.com/demo6/1222b20601.jpg')"></div>
        </div>
    </div>
    <img class="qs-play" src="../../../assets/s09/play.png" />
    <img class="qs-shadow" src="../../../assets/common/shadow@2x.png" />
    <div class="qs-model">
        <div class="qs-portrait fake-css-background-image" style="background-image: url('http://trial01.focosee.com/demo2/b2.jpg')" ></div>
    </div>
    <img class="qs-pause" src="../../../assets/s09/pause-btn@2x.png" />
</div>