<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" href="../../../css/style.css" />
<style>
    .qs-poster-slick-container {
        height: 100%;
    }
    .qs-poster-slick {
        height: 100%;
    }
    .qs-poster {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }
</style>
<div class="qs-view-component">
    <div class="qs-poster-slick-container">
        <div class="clone qs-poster-slick">
            <div class="qs-poster fake-css-background-image" style="background-image: url('http://trial01.focosee.com/demo6/1222b20601.jpg')"></div>
        </div>
    </div>
</div>