<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" href="../../../css/style.css" />
<style>
    .s09-item-thumb {
        height: 100%;
    }

    .s09-item-thumb .qs-image {
        height: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }
    .s09-item-thumb .qs-price {
        background-color: rgb(193, 17, 75);
        height: 20%;
        color: #fff;
        font-size: 10px;
        text-align: center;
    }
</style>
<div class="qs-component s09-item-thumb">
    <div class="qs-image fake-css-background-image" style="background-image: url('http://trial01.focosee.com/demo6/1222b20601.jpg')"></div>
    <div class="qs-price">
        119.99
    </div>
</div>