<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" href="../../../css/style.css" />
<style>
    .s09-show-thumb {
        height: 100%;
    }
    .s09-show-thumb .qs-poster {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }
    .s09-show-thumb .qs-shadow {
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    .s09-show-thumb .qs-play {
        width: 15%;
        position: absolute;
        right: 5%;
        bottom: 5%;
    }
    .s09-show-thumb .qs-portrait {
        width: 15%;
        border: 1px solid #fff;
        position: absolute;
        left: 5%;
        bottom: 5%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<div class="qs-component s09-show-thumb">
    <div class="qs-poster fake-css-background-image" style="background-image: url('http://trial01.focosee.com/demo6/1222b20601.jpg')"></div>
    <div>
        <img class="qs-shadow" src="../../../assets/common/shadow.png" />
        <img class="qs-play" src="../../../assets/s09/play-btn.png" />
        <div class="qs-portrait fake-css-background-image" style="background-image: url('http://trial01.focosee.com/demo2/b2.jpg')" ></div>
    </div>
</div>