<div style="padding-top: 12px;">
    <div class="form-group">
        <label for="exampleInputEmail1">idOrNickName</label>
        <input class="form-control" id="exampleInputEmail1" placeholder="idOrNickName">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button class="btn btn-default" style="float: right">
        Submit
    </button>
</div>