<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltHeader {
        cursor: default;
        position: relative;
        width: 100%;
        height: 96px;
        background-color: #fff;
    }
    .qsTpltHeader .qsTitle {
        font-size: 40px;
        line-height: 96px;
        text-align: center;
        width: 100%;
        height: 85%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 12px;
        background-image: url('./templates/assets/logo.jpg');
    }
    .qsTpltHeader .qsLeft, .qsTpltHeader .qsRight {
        height: 96px;
        width: 96px;
        position: absolute;
        top: 0px;
    }
    .qsTpltHeader .qsText {
        font-size: 1.25em;
    }
    .qsTpltHeader .fa {
        font-size: 40px;
    }
    .qsTpltHeader .qsLeft {
        left: 0px;
    }
    .qsTpltHeader .qsLeft .qsText, .qsTpltHeader .qsRight .qsText {
        position: absolute;
        line-height: 96px;
        text-align: center;
        width: 100%;
    }
    .qsTpltHeader .qsLeft .qsText {
    }
    .qsTpltHeader .qsRight {
        right: 0px;
    }
    .qsTpltHeader .qsRight .qsText {
    }
</style>
<div id="wrapper" style="width: 640px; position: relative; margin: auto;">
    <div class="qsTpltHeader">
        <div class="qsLeft">
            <div class="qsText"></div>
        </div>
        <div class="qsTitle qsHighlight fakeText">
            标题
        </div>
        <div class="qsRight">
            <div class="qsText"></div>
        </div>
    </div>
</div>