<link href="../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltCategoryMenu {
        overflow: auto;
        background: rgba(255,255,255,.9);
    }
    .qsTpltCategoryMenu > ul {
        margin: 0;
        overflow: auto;
        padding: 24px 90px 24px 90px;
    }
    .qsTpltCategoryMenu > ul > li {
        list-style-type: none;
        display: inline-block;
        float: left;
        margin: 0 59px 0 0;
        width: 114px;
        height: 154px;
    }
    .qsTpltCategoryMenu .qsRightEdge {
        margin-right: 0;
    }
    .qsTpltCategoryMenu .qsBottomEdge {
        margin-bottom: 0;
    }

    .qsTpltCategoryMenu .qsCategoryIcon {
        width: 114px;
        height: 114px;
    }
    .qsTpltCategoryMenu .qsCategoryText {
        width: 114px;
        height: 40px;
        text-align: center;
        line-height: 40px;
    }
    .qsTpltCategoryMenu .qsCategoryIcon {
    }
    .qsTpltCategoryMenu .qsHot {
        background-image: url('../templates/assets/tags/btn_01_default.png');
    }
    .qsTpltCategoryMenu .qsWomen {
        background-image: url('../templates/assets/tags/btn_02_default.png');
    }
    .qsTpltCategoryMenu .qsMen {
        background-image: url('../templates/assets/tags/btn_03_default.png');
    }
    .qsTpltCategoryMenu .qsShoe {
        background-image: url('../templates/assets/tags/btn_04_default.png');
    }
    .qsTpltCategoryMenu .qsBag {
        background-image: url('../templates/assets/tags/btn_05_default.png');
    }
    .qsTpltCategoryMenu .qsAccessory {
        background-image: url('../templates/assets/tags/btn_06_default.png');
    }
    .qsTpltCategoryMenu .qsCosmetic {
        background-image: url('../templates/assets/tags/btn_07_default.png');
    }
    .qsTpltCategoryMenu .qsBrand {
        background-image: url('../templates/assets/tags/btn_08_default.png');
    }
</style>

<div id="wrapper" style="width: 640px; position: relative; margin: auto;">
    <div class="qsTpltCategoryMenu">
        <ul>
            <li class="qsCategoryContainer">
                <div class="qsCategoryIcon qsHot"></div>
                <div class="qsCategoryText">
                    最美搭配
                </div>
            </li>
            <li class="qsCategoryContainer">
                <div class="qsCategoryIcon qsHot"></div>
                <div class="qsCategoryText">
                    人气搭配
                </div>
            </li>
            <li class="qsCategoryContainer qsRightEdge">
                <div class="qsCategoryIcon qsHot"></div>
                <div class="qsCategoryText">
                    人气模特
                </div>
            </li>
            <li class="qsCategoryContainer">
                <div class="qsCategoryIcon qsWomen"></div>
                <div class="qsCategoryText">
                    潮流女装
                </div>
            </li>
            <li class="qsCategoryContainer">
                <div class="qsCategoryIcon qsBag"></div>
                <div class="qsCategoryText">
                    时尚包包
                </div>
            </li>
            <li class="qsCategoryContainer qsRightEdge">
                <div class="qsCategoryIcon qsAccessory"></div>
                <div class="qsCategoryText">
                    百搭配饰
                </div>
            </li>
            <li class="qsCategoryContainer qsBottomEdge">
                <div class="qsCategoryIcon qsShoe"></div>
                <div class="qsCategoryText">
                    个性潮鞋
                </div>
            </li>
            <li class="qsCategoryContainer qsBottomEdge">
                <div class="qsCategoryIcon qsCosmetic"></div>
                <div class="qsCategoryText">
                    设计风尚
                </div>
            </li>
            <li class="qsCategoryContainer qsRightEdge qsBottomEdge">
                <div class="qsCategoryIcon qsBrand"></div>
                <div class="qsCategoryText">
                    品牌专区
                </div>
            </li>
        </ul>
    </div>
</div>