<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100</key>
	<dict>
		<key>cities</key>
		<dict/>
		<key>name</key>
		<string>其他</string>
	</dict>
	<key>11</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>东城区</string>
			<key>11</key>
			<string>房山区</string>
			<key>12</key>
			<string>通州区</string>
			<key>13</key>
			<string>顺义区</string>
			<key>14</key>
			<string>昌平区</string>
			<key>15</key>
			<string>大兴区</string>
			<key>16</key>
			<string>怀柔区</string>
			<key>17</key>
			<string>平谷区</string>
			<key>2</key>
			<string>西城区</string>
			<key>28</key>
			<string>密云县</string>
			<key>29</key>
			<string>延庆县</string>
			<key>3</key>
			<string>崇文区</string>
			<key>4</key>
			<string>宣武区</string>
			<key>5</key>
			<string>朝阳区</string>
			<key>6</key>
			<string>丰台区</string>
			<key>7</key>
			<string>石景山区</string>
			<key>8</key>
			<string>海淀区</string>
			<key>9</key>
			<string>门头沟区</string>
		</dict>
		<key>name</key>
		<string>北京</string>
	</dict>
	<key>12</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>和平区</string>
			<key>10</key>
			<string>东丽区</string>
			<key>11</key>
			<string>西青区</string>
			<key>12</key>
			<string>津南区</string>
			<key>13</key>
			<string>北辰区</string>
			<key>14</key>
			<string>武清区</string>
			<key>15</key>
			<string>宝坻区</string>
			<key>2</key>
			<string>河东区</string>
			<key>21</key>
			<string>宁河县</string>
			<key>23</key>
			<string>静海县</string>
			<key>25</key>
			<string>蓟县</string>
			<key>3</key>
			<string>河西区</string>
			<key>4</key>
			<string>南开区</string>
			<key>5</key>
			<string>河北区</string>
			<key>6</key>
			<string>红桥区</string>
			<key>7</key>
			<string>塘沽区</string>
			<key>8</key>
			<string>汉沽区</string>
			<key>9</key>
			<string>大港区</string>
		</dict>
		<key>name</key>
		<string>天津</string>
	</dict>
	<key>13</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>石家庄</string>
			<key>10</key>
			<string>廊坊</string>
			<key>11</key>
			<string>衡水</string>
			<key>2</key>
			<string>唐山</string>
			<key>3</key>
			<string>秦皇岛</string>
			<key>4</key>
			<string>邯郸</string>
			<key>5</key>
			<string>邢台</string>
			<key>6</key>
			<string>保定</string>
			<key>7</key>
			<string>张家口</string>
			<key>8</key>
			<string>承德</string>
			<key>9</key>
			<string>沧州</string>
		</dict>
		<key>name</key>
		<string>河北</string>
	</dict>
	<key>14</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>太原</string>
			<key>10</key>
			<string>临汾</string>
			<key>2</key>
			<string>大同</string>
			<key>23</key>
			<string>吕梁</string>
			<key>3</key>
			<string>阳泉</string>
			<key>4</key>
			<string>长治</string>
			<key>5</key>
			<string>晋城</string>
			<key>6</key>
			<string>朔州</string>
			<key>7</key>
			<string>晋中</string>
			<key>8</key>
			<string>运城</string>
			<key>9</key>
			<string>忻州</string>
		</dict>
		<key>name</key>
		<string>山西</string>
	</dict>
	<key>15</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>呼和浩特</string>
			<key>2</key>
			<string>包头</string>
			<key>22</key>
			<string>兴安盟</string>
			<key>25</key>
			<string>锡林郭勒盟</string>
			<key>26</key>
			<string>乌兰察布盟</string>
			<key>28</key>
			<string>巴彦淖尔盟</string>
			<key>29</key>
			<string>阿拉善盟</string>
			<key>3</key>
			<string>乌海</string>
			<key>4</key>
			<string>赤峰</string>
			<key>5</key>
			<string>通辽</string>
			<key>6</key>
			<string>鄂尔多斯</string>
			<key>7</key>
			<string>呼伦贝尔</string>
		</dict>
		<key>name</key>
		<string>内蒙古</string>
	</dict>
	<key>21</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>沈阳</string>
			<key>10</key>
			<string>辽阳</string>
			<key>11</key>
			<string>盘锦</string>
			<key>12</key>
			<string>铁岭</string>
			<key>13</key>
			<string>朝阳</string>
			<key>14</key>
			<string>葫芦岛</string>
			<key>2</key>
			<string>大连</string>
			<key>3</key>
			<string>鞍山</string>
			<key>4</key>
			<string>抚顺</string>
			<key>5</key>
			<string>本溪</string>
			<key>6</key>
			<string>丹东</string>
			<key>7</key>
			<string>锦州</string>
			<key>8</key>
			<string>营口</string>
			<key>9</key>
			<string>阜新</string>
		</dict>
		<key>name</key>
		<string>辽宁</string>
	</dict>
	<key>22</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>长春</string>
			<key>2</key>
			<string>吉林</string>
			<key>24</key>
			<string>延边朝鲜族自治州</string>
			<key>3</key>
			<string>四平</string>
			<key>4</key>
			<string>辽源</string>
			<key>5</key>
			<string>通化</string>
			<key>6</key>
			<string>白山</string>
			<key>7</key>
			<string>松原</string>
			<key>8</key>
			<string>白城</string>
		</dict>
		<key>name</key>
		<string>吉林</string>
	</dict>
	<key>23</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>哈尔滨</string>
			<key>10</key>
			<string>牡丹江</string>
			<key>11</key>
			<string>黑河</string>
			<key>12</key>
			<string>绥化</string>
			<key>2</key>
			<string>齐齐哈尔</string>
			<key>27</key>
			<string>大兴安岭</string>
			<key>3</key>
			<string>鸡西</string>
			<key>4</key>
			<string>鹤岗</string>
			<key>5</key>
			<string>双鸭山</string>
			<key>6</key>
			<string>大庆</string>
			<key>7</key>
			<string>伊春</string>
			<key>8</key>
			<string>佳木斯</string>
			<key>9</key>
			<string>七台河</string>
		</dict>
		<key>name</key>
		<string>黑龙江</string>
	</dict>
	<key>31</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>黄浦区</string>
			<key>10</key>
			<string>杨浦区</string>
			<key>12</key>
			<string>闵行区</string>
			<key>13</key>
			<string>宝山区</string>
			<key>14</key>
			<string>嘉定区</string>
			<key>15</key>
			<string>浦东新区</string>
			<key>16</key>
			<string>金山区</string>
			<key>17</key>
			<string>松江区</string>
			<key>18</key>
			<string>青浦区</string>
			<key>19</key>
			<string>南汇区</string>
			<key>20</key>
			<string>奉贤区</string>
			<key>3</key>
			<string>卢湾区</string>
			<key>30</key>
			<string>崇明县</string>
			<key>4</key>
			<string>徐汇区</string>
			<key>5</key>
			<string>长宁区</string>
			<key>6</key>
			<string>静安区</string>
			<key>7</key>
			<string>普陀区</string>
			<key>8</key>
			<string>闸北区</string>
			<key>9</key>
			<string>虹口区</string>
		</dict>
		<key>name</key>
		<string>上海</string>
	</dict>
	<key>32</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>南京</string>
			<key>10</key>
			<string>扬州</string>
			<key>11</key>
			<string>镇江</string>
			<key>12</key>
			<string>泰州</string>
			<key>13</key>
			<string>宿迁</string>
			<key>2</key>
			<string>无锡</string>
			<key>3</key>
			<string>徐州</string>
			<key>4</key>
			<string>常州</string>
			<key>5</key>
			<string>苏州</string>
			<key>6</key>
			<string>南通</string>
			<key>7</key>
			<string>连云港</string>
			<key>8</key>
			<string>淮安</string>
			<key>9</key>
			<string>盐城</string>
		</dict>
		<key>name</key>
		<string>江苏</string>
	</dict>
	<key>33</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>杭州</string>
			<key>10</key>
			<string>台州</string>
			<key>11</key>
			<string>丽水</string>
			<key>2</key>
			<string>宁波</string>
			<key>3</key>
			<string>温州</string>
			<key>4</key>
			<string>嘉兴</string>
			<key>5</key>
			<string>湖州</string>
			<key>6</key>
			<string>绍兴</string>
			<key>7</key>
			<string>金华</string>
			<key>8</key>
			<string>衢州</string>
			<key>9</key>
			<string>舟山</string>
		</dict>
		<key>name</key>
		<string>浙江</string>
	</dict>
	<key>34</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>合肥</string>
			<key>10</key>
			<string>黄山</string>
			<key>11</key>
			<string>滁州</string>
			<key>12</key>
			<string>阜阳</string>
			<key>13</key>
			<string>宿州</string>
			<key>14</key>
			<string>巢湖</string>
			<key>15</key>
			<string>六安</string>
			<key>16</key>
			<string>亳州</string>
			<key>17</key>
			<string>池州</string>
			<key>18</key>
			<string>宣城</string>
			<key>2</key>
			<string>芜湖</string>
			<key>3</key>
			<string>蚌埠</string>
			<key>4</key>
			<string>淮南</string>
			<key>5</key>
			<string>马鞍山</string>
			<key>6</key>
			<string>淮北</string>
			<key>7</key>
			<string>铜陵</string>
			<key>8</key>
			<string>安庆</string>
		</dict>
		<key>name</key>
		<string>安徽</string>
	</dict>
	<key>35</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>福州</string>
			<key>2</key>
			<string>厦门</string>
			<key>3</key>
			<string>莆田</string>
			<key>4</key>
			<string>三明</string>
			<key>5</key>
			<string>泉州</string>
			<key>6</key>
			<string>漳州</string>
			<key>7</key>
			<string>南平</string>
			<key>8</key>
			<string>龙岩</string>
			<key>9</key>
			<string>宁德</string>
		</dict>
		<key>name</key>
		<string>福建</string>
	</dict>
	<key>36</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>南昌</string>
			<key>10</key>
			<string>抚州</string>
			<key>11</key>
			<string>上饶</string>
			<key>2</key>
			<string>景德镇</string>
			<key>3</key>
			<string>萍乡</string>
			<key>4</key>
			<string>九江</string>
			<key>5</key>
			<string>新余</string>
			<key>6</key>
			<string>鹰潭</string>
			<key>7</key>
			<string>赣州</string>
			<key>8</key>
			<string>吉安</string>
			<key>9</key>
			<string>宜春</string>
		</dict>
		<key>name</key>
		<string>江西</string>
	</dict>
	<key>37</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>济南</string>
			<key>10</key>
			<string>威海</string>
			<key>11</key>
			<string>日照</string>
			<key>12</key>
			<string>莱芜</string>
			<key>13</key>
			<string>临沂</string>
			<key>14</key>
			<string>德州</string>
			<key>15</key>
			<string>聊城</string>
			<key>16</key>
			<string>滨州</string>
			<key>17</key>
			<string>菏泽</string>
			<key>2</key>
			<string>青岛</string>
			<key>3</key>
			<string>淄博</string>
			<key>4</key>
			<string>枣庄</string>
			<key>5</key>
			<string>东营</string>
			<key>6</key>
			<string>烟台</string>
			<key>7</key>
			<string>潍坊</string>
			<key>8</key>
			<string>济宁</string>
			<key>9</key>
			<string>泰安</string>
		</dict>
		<key>name</key>
		<string>山东</string>
	</dict>
	<key>400</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>美国</string>
			<key>10</key>
			<string>马来西亚</string>
			<key>11</key>
			<string>新加坡</string>
			<key>12</key>
			<string>菲律宾</string>
			<key>13</key>
			<string>越南</string>
			<key>14</key>
			<string>印度</string>
			<key>15</key>
			<string>日本</string>
			<key>16</key>
			<string>其他</string>
			<key>2</key>
			<string>英国</string>
			<key>3</key>
			<string>法国</string>
			<key>4</key>
			<string>俄罗斯</string>
			<key>5</key>
			<string>加拿大</string>
			<key>6</key>
			<string>巴西</string>
			<key>7</key>
			<string>澳大利亚</string>
			<key>8</key>
			<string>印尼</string>
			<key>9</key>
			<string>泰国</string>
		</dict>
		<key>name</key>
		<string>海外</string>
	</dict>
	<key>41</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>郑州</string>
			<key>10</key>
			<string>许昌</string>
			<key>11</key>
			<string>漯河</string>
			<key>12</key>
			<string>三门峡</string>
			<key>13</key>
			<string>南阳</string>
			<key>14</key>
			<string>商丘</string>
			<key>15</key>
			<string>信阳</string>
			<key>16</key>
			<string>周口</string>
			<key>17</key>
			<string>驻马店</string>
			<key>2</key>
			<string>开封</string>
			<key>3</key>
			<string>洛阳</string>
			<key>4</key>
			<string>平顶山</string>
			<key>5</key>
			<string>安阳</string>
			<key>6</key>
			<string>鹤壁</string>
			<key>7</key>
			<string>新乡</string>
			<key>8</key>
			<string>焦作</string>
			<key>9</key>
			<string>濮阳</string>
		</dict>
		<key>name</key>
		<string>河南</string>
	</dict>
	<key>42</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>武汉</string>
			<key>10</key>
			<string>荆州</string>
			<key>11</key>
			<string>黄冈</string>
			<key>12</key>
			<string>咸宁</string>
			<key>13</key>
			<string>随州</string>
			<key>2</key>
			<string>黄石</string>
			<key>28</key>
			<string>恩施土家族苗族自治州</string>
			<key>3</key>
			<string>十堰</string>
			<key>5</key>
			<string>宜昌</string>
			<key>6</key>
			<string>襄樊</string>
			<key>7</key>
			<string>鄂州</string>
			<key>8</key>
			<string>荆门</string>
			<key>9</key>
			<string>孝感</string>
		</dict>
		<key>name</key>
		<string>湖北</string>
	</dict>
	<key>43</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>长沙</string>
			<key>10</key>
			<string>郴州</string>
			<key>11</key>
			<string>永州</string>
			<key>12</key>
			<string>怀化</string>
			<key>13</key>
			<string>娄底</string>
			<key>2</key>
			<string>株洲</string>
			<key>3</key>
			<string>湘潭</string>
			<key>31</key>
			<string>湘西土家族苗族自治州</string>
			<key>4</key>
			<string>衡阳</string>
			<key>5</key>
			<string>邵阳</string>
			<key>6</key>
			<string>岳阳</string>
			<key>7</key>
			<string>常德</string>
			<key>8</key>
			<string>张家界</string>
			<key>9</key>
			<string>益阳</string>
		</dict>
		<key>name</key>
		<string>湖南</string>
	</dict>
	<key>44</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>广州</string>
			<key>12</key>
			<string>肇庆</string>
			<key>13</key>
			<string>惠州</string>
			<key>14</key>
			<string>梅州</string>
			<key>15</key>
			<string>汕尾</string>
			<key>16</key>
			<string>河源</string>
			<key>17</key>
			<string>阳江</string>
			<key>18</key>
			<string>清远</string>
			<key>19</key>
			<string>东莞</string>
			<key>2</key>
			<string>韶关</string>
			<key>20</key>
			<string>中山</string>
			<key>3</key>
			<string>深圳</string>
			<key>4</key>
			<string>珠海</string>
			<key>5</key>
			<string>汕头</string>
			<key>51</key>
			<string>潮州</string>
			<key>52</key>
			<string>揭阳</string>
			<key>53</key>
			<string>云浮</string>
			<key>6</key>
			<string>佛山</string>
			<key>7</key>
			<string>江门</string>
			<key>8</key>
			<string>湛江</string>
			<key>9</key>
			<string>茂名</string>
		</dict>
		<key>name</key>
		<string>广东</string>
	</dict>
	<key>45</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>南宁</string>
			<key>10</key>
			<string>百色</string>
			<key>11</key>
			<string>贺州</string>
			<key>12</key>
			<string>河池</string>
			<key>2</key>
			<string>柳州</string>
			<key>21</key>
			<string>南宁</string>
			<key>22</key>
			<string>柳州</string>
			<key>3</key>
			<string>桂林</string>
			<key>4</key>
			<string>梧州</string>
			<key>5</key>
			<string>北海</string>
			<key>6</key>
			<string>防城港</string>
			<key>7</key>
			<string>钦州</string>
			<key>8</key>
			<string>贵港</string>
			<key>9</key>
			<string>玉林</string>
		</dict>
		<key>name</key>
		<string>广西</string>
	</dict>
	<key>46</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>海口</string>
			<key>2</key>
			<string>三亚</string>
			<key>90</key>
			<string>其他</string>
		</dict>
		<key>name</key>
		<string>海南</string>
	</dict>
	<key>50</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>万州区</string>
			<key>10</key>
			<string>万盛区</string>
			<key>11</key>
			<string>双桥区</string>
			<key>12</key>
			<string>渝北区</string>
			<key>13</key>
			<string>巴南区</string>
			<key>14</key>
			<string>黔江区</string>
			<key>15</key>
			<string>长寿区</string>
			<key>2</key>
			<string>涪陵区</string>
			<key>22</key>
			<string>綦江县</string>
			<key>23</key>
			<string>潼南县</string>
			<key>24</key>
			<string>铜梁县</string>
			<key>25</key>
			<string>大足县</string>
			<key>26</key>
			<string>荣昌县</string>
			<key>27</key>
			<string>璧山县</string>
			<key>28</key>
			<string>梁平县</string>
			<key>29</key>
			<string>城口县</string>
			<key>3</key>
			<string>渝中区</string>
			<key>30</key>
			<string>丰都县</string>
			<key>31</key>
			<string>垫江县</string>
			<key>32</key>
			<string>武隆县</string>
			<key>33</key>
			<string>忠县</string>
			<key>34</key>
			<string>开县</string>
			<key>35</key>
			<string>云阳县</string>
			<key>36</key>
			<string>奉节县</string>
			<key>37</key>
			<string>巫山县</string>
			<key>38</key>
			<string>巫溪县</string>
			<key>4</key>
			<string>大渡口区</string>
			<key>40</key>
			<string>石柱土家族自治县</string>
			<key>41</key>
			<string>秀山土家族苗族自治县</string>
			<key>42</key>
			<string>酉阳土家族苗族自治县</string>
			<key>43</key>
			<string>彭水苗族土家族自治县</string>
			<key>5</key>
			<string>江北区</string>
			<key>6</key>
			<string>沙坪坝区</string>
			<key>7</key>
			<string>九龙坡区</string>
			<key>8</key>
			<string>南岸区</string>
			<key>81</key>
			<string>江津市</string>
			<key>82</key>
			<string>合川市</string>
			<key>83</key>
			<string>永川区</string>
			<key>84</key>
			<string>南川市</string>
			<key>9</key>
			<string>北碚区</string>
		</dict>
		<key>name</key>
		<string>重庆</string>
	</dict>
	<key>51</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>成都</string>
			<key>10</key>
			<string>内江</string>
			<key>11</key>
			<string>乐山</string>
			<key>13</key>
			<string>南充</string>
			<key>14</key>
			<string>眉山</string>
			<key>15</key>
			<string>宜宾</string>
			<key>16</key>
			<string>广安</string>
			<key>17</key>
			<string>达州</string>
			<key>18</key>
			<string>雅安</string>
			<key>19</key>
			<string>巴中</string>
			<key>20</key>
			<string>资阳</string>
			<key>3</key>
			<string>自贡</string>
			<key>32</key>
			<string>阿坝</string>
			<key>33</key>
			<string>甘孜</string>
			<key>34</key>
			<string>凉山</string>
			<key>4</key>
			<string>攀枝花</string>
			<key>5</key>
			<string>泸州</string>
			<key>6</key>
			<string>德阳</string>
			<key>7</key>
			<string>绵阳</string>
			<key>8</key>
			<string>广元</string>
			<key>9</key>
			<string>遂宁</string>
		</dict>
		<key>name</key>
		<string>四川</string>
	</dict>
	<key>52</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>贵阳</string>
			<key>2</key>
			<string>六盘水</string>
			<key>22</key>
			<string>铜仁</string>
			<key>23</key>
			<string>黔西南</string>
			<key>24</key>
			<string>毕节</string>
			<key>26</key>
			<string>黔东南</string>
			<key>27</key>
			<string>黔南</string>
			<key>3</key>
			<string>遵义</string>
			<key>4</key>
			<string>安顺</string>
		</dict>
		<key>name</key>
		<string>贵州</string>
	</dict>
	<key>53</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>昆明</string>
			<key>23</key>
			<string>楚雄</string>
			<key>25</key>
			<string>红河</string>
			<key>26</key>
			<string>文山</string>
			<key>27</key>
			<string>思茅</string>
			<key>28</key>
			<string>西双版纳</string>
			<key>29</key>
			<string>大理</string>
			<key>3</key>
			<string>曲靖</string>
			<key>31</key>
			<string>德宏</string>
			<key>32</key>
			<string>丽江</string>
			<key>33</key>
			<string>怒江</string>
			<key>34</key>
			<string>迪庆</string>
			<key>35</key>
			<string>临沧</string>
			<key>4</key>
			<string>玉溪</string>
			<key>5</key>
			<string>保山</string>
			<key>6</key>
			<string>昭通</string>
		</dict>
		<key>name</key>
		<string>云南</string>
	</dict>
	<key>54</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>拉萨</string>
			<key>21</key>
			<string>昌都</string>
			<key>22</key>
			<string>山南</string>
			<key>23</key>
			<string>日喀则</string>
			<key>24</key>
			<string>那曲</string>
			<key>25</key>
			<string>阿里</string>
			<key>26</key>
			<string>林芝</string>
		</dict>
		<key>name</key>
		<string>西藏</string>
	</dict>
	<key>61</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>西安</string>
			<key>10</key>
			<string>商洛</string>
			<key>2</key>
			<string>铜川</string>
			<key>3</key>
			<string>宝鸡</string>
			<key>4</key>
			<string>咸阳</string>
			<key>5</key>
			<string>渭南</string>
			<key>6</key>
			<string>延安</string>
			<key>7</key>
			<string>汉中</string>
			<key>8</key>
			<string>榆林</string>
			<key>9</key>
			<string>安康</string>
		</dict>
		<key>name</key>
		<string>陕西</string>
	</dict>
	<key>62</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>兰州</string>
			<key>10</key>
			<string>庆阳</string>
			<key>2</key>
			<string>嘉峪关</string>
			<key>24</key>
			<string>定西</string>
			<key>26</key>
			<string>陇南</string>
			<key>29</key>
			<string>临夏</string>
			<key>3</key>
			<string>金昌</string>
			<key>30</key>
			<string>甘南</string>
			<key>4</key>
			<string>白银</string>
			<key>5</key>
			<string>天水</string>
			<key>6</key>
			<string>武威</string>
			<key>7</key>
			<string>张掖</string>
			<key>8</key>
			<string>平凉</string>
			<key>9</key>
			<string>酒泉</string>
		</dict>
		<key>name</key>
		<string>甘肃</string>
	</dict>
	<key>63</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>西宁</string>
			<key>21</key>
			<string>海东</string>
			<key>22</key>
			<string>海北</string>
			<key>23</key>
			<string>黄南</string>
			<key>25</key>
			<string>海南</string>
			<key>26</key>
			<string>果洛</string>
			<key>27</key>
			<string>玉树</string>
			<key>28</key>
			<string>海西</string>
		</dict>
		<key>name</key>
		<string>青海</string>
	</dict>
	<key>64</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>银川</string>
			<key>2</key>
			<string>石嘴山</string>
			<key>3</key>
			<string>吴忠</string>
			<key>4</key>
			<string>固原</string>
		</dict>
		<key>name</key>
		<string>宁夏</string>
	</dict>
	<key>65</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>乌鲁木齐</string>
			<key>2</key>
			<string>克拉玛依</string>
			<key>21</key>
			<string>吐鲁番</string>
			<key>22</key>
			<string>哈密</string>
			<key>23</key>
			<string>昌吉</string>
			<key>27</key>
			<string>博尔塔拉</string>
			<key>28</key>
			<string>巴音郭楞</string>
			<key>29</key>
			<string>阿克苏</string>
			<key>30</key>
			<string>克孜勒苏</string>
			<key>31</key>
			<string>喀什</string>
			<key>32</key>
			<string>和田</string>
			<key>40</key>
			<string>伊犁</string>
			<key>42</key>
			<string>塔城</string>
			<key>43</key>
			<string>阿勒泰</string>
		</dict>
		<key>name</key>
		<string>新疆</string>
	</dict>
	<key>71</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>台北</string>
			<key>2</key>
			<string>高雄</string>
			<key>90</key>
			<string>其他</string>
		</dict>
		<key>name</key>
		<string>台湾</string>
	</dict>
	<key>81</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>香港</string>
		</dict>
		<key>name</key>
		<string>香港</string>
	</dict>
	<key>82</key>
	<dict>
		<key>cities</key>
		<dict>
			<key>1</key>
			<string>澳门</string>
		</dict>
		<key>name</key>
		<string>澳门</string>
	</dict>
</dict>
</plist>
