<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.focosee.qingshow" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.focosee.qingshow.activity.BlankActivity"
            android:label="@string/title_activity_blank" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.U02SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".activity.U07RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".activity.U06LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".activity.U01PersonalActivity"
            android:label="@string/title_activity_personal" >
        </activity>
        <activity
            android:name=".activity.S01HomeActivity"
            android:label="@string/title_activity_s01_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
