<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltPItemGalleryLi {
        position: relative;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
    }
    .qsTpltPItemGalleryLi .qsPItemCover {
        width: 100%;
        display: block;
    }
    .qsTpltPItemGalleryLi .qsCollocate {
        position: absolute;
        right: 20px;
        bottom: 20px;
        font-size: 60px;
        color: #21b384;
    }
</style>

<div id="wrapper" style="width: 290px; position: relative; margin: auto;">
    <div class="qsTpltPItemGalleryLi">
        <img class="qsPItemCover lazy fakeSrc" src="../../../../server-image-fake/covers/moto01.jpg">
        <div class="qsCollocate fa fa-check-circle-o fakeDisplay"></div>
    </div>
</div>