<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltPItemGallery {
        cursor: default;
        padding: 20px;
        overflow: auto;
    }
    .qsTpltPItemGallery .qsContainer {
        overflow: auto;
        margin-bottom: 16px;
    }
    .qsTpltPItemGallery .qsLeftContainer, .qsTpltPItemGallery .qsRightContainer {
        float: left;
        width: 290px;
    }
    .qsTpltPItemGallery .qsLeftContainer {
        margin-right: 20px;
    }
    .qsTpltPItemGallery .qsTpltPItemGalleryLi {
        margin-bottom: 20px;
    }
    .qsTpltPItemGallery .qsTpltPItemGalleryLi:last-child {
        margin-bottom: 0px;
    }
    .qsTpltPItemGallery .qsLoading {
        position: relative;
        width: 100%;
        height: 60px;
        border-radius: 8px;
        background-color: #fff;
    }
    .qsTpltPItemGallery .qsLoading .qsSpin {
        position: absolute;
        left: 200px;
        font-size: 24px;
        line-height: 60px;
    }
    .qsTpltPItemGallery .qsLoading .qsText {
        position: absolute;
        left: 240px;
        line-height: 60px;
    }
</style>

<div id="wrapper" style="width: 640px; position: relative; margin: auto; background-color: #eee;">
    <div class="qsTpltPItemGallery">
        <div class="qsContainer">
            <div class="qsLeftContainer">
                <div class="qsLiItemContainer">
                    <div class="qsTpltPItemGalleryLi fake"></div>
                </div>
            </div>
            <div class="qsRightContainer">
                <div class="qsLiItemContainer">
                    <div class="qsTpltPItemGalleryLi fake"></div>
                </div>
            </div>
        </div>
        <div class="qsLoading">
            <div class="qsSpin fa fa-spinner fa-spin"></div>
            <div class="qsText">
                努力加载中…
            </div>
        </div>
    </div>
</div>