<link href="../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltShowMain {
        position: relative;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
        padding-bottom: 8px;
    }
    .qsTpltShowMain .qsItemDescription {
        padding: 10px 5px;
    }
    .qsTpltShowMain .qsSplitter {
        height: 2px;
        background-color: #eee;
    }
    .qsTpltShowMain .qsDetail {
        padding-top: 10px;
    }
    .qsTpltShowMain .qsDetail .qsPortrait {
        background-image: url('../../deps-fake/pics/portraits/smallphoto01.jpg');
        margin-left: 8px;
        margin-bottom: 8px;
        float: left;
        width: 52px;
        height: 52px;
        background-size: cover;
        border-radius: 26px;
        overflow: hidden;
    }
    .qsTpltShowMain .qsDetail .qsTextContainer {
        padding-bottom: 8px;
        float: left;
        margin: 0px 8px;
        width: calc(100% - 116px);
    }
    .qsTpltShowMain .qsDetail .qsLine {
        height: 26px;
    }
    .qsTpltShowMain .qsDetail .qsName {
        float: left;
        color: 4e4e4e;
    }
    .qsTpltShowMain .qsDetail .qsAge {
        float: right;
    }
    .qsTpltShowMain .qsDetail .qsStatus {
    }
    .qsTpltShowMain .qsDetail .qsLikeContainer {
        float: left;
        width: 40px;
        text-align: center;
    }
    .qsTpltShowMain .qsDetail .qsLike {
        font-size: 1.8em;
        margin-bottom: 4px;
    }
    .qsTpltShowMain .qsDetail .qsNumLikes {
        padding-right: 2px;
    }
    .qsTpltShowMain .qsDetail {
        overflow: auto;
    }
    .qsTpltShowMain .qsControls {
        overflow: auto;
        margin-top: 4px;
    }
    .qsTpltShowMain .qsShare {
        float: left;
        margin-left: 8px;
    }
    .qsTpltShowMain .qsBuy {
        float: right;
        margin-right: 8px;
    }
    .qsTpltShowMain .vjs-poster {
        /*background-color: #fff;*/
    }
    .qsTpltShowMain .vjs-big-play-button {
        right: 0.5em;
        bottom: 0.5em;
        left: inherit;
        top: inherit;
    }
</style>

<div id="wrapper" style="width: 600px; position: relative; margin: auto;">
    <div class="qsTpltShowMain">
        <video class="qsItemVideo fakeVideo video-js vjs-default-skin" controls
        preload="auto" width="600" height="337.5" poster="../deps-fake/videos/motobig.jpg"
        data-setup="{}">
            <source src="../deps-fake/videos/10.mp4.mp4" type='video/mp4'></source>
        </video>
        <div class="qsItemDescription fakeText">
            精致合身的轮廓，公主般华丽的礼服！end
        </div>
        <div class="qsSplitter"></div>
        <div class="qsDetail">
            <div class="qsPortrait fakeBackgroundImage"></div>
            <div class="qsTextContainer">
                <div class="qsLine">
                    <div class="qsName fakeText">
                        Sandygirl
                    </div>
                    <div class="qsAge fakeText">
                        24岁
                    </div>
                </div>
                <div class="qsStatus fakeText">
                    每天都需要睡眠。end
                </div>
            </div>
            <div class="qsLikeContainer">
                <div class="qsLike fa fa-heart-o qsIconButton"></div>
                <div class="qsNumLikes fakeText">
                    105
                </div>
            </div>
        </div>
        <div class="qsControls">
            <div class="qsShare qsButton qsButtonIcon fa fa-share-square-o"></div>
            <div class="qsBuy qsButton qsButtonHighlight">
                逛一逛
            </div>
        </div>
    </div>
</div>