<link href="../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltShowGallery {
        padding: 20px;
        overflow: auto;
    }
    .qsTpltShowGallery > div {
        float: left;
        width: 290px;
    }
    .qsTpltShowGallery .qsLeftContainer {
        margin-right: 20px;
    }
    .qsTpltShowGallery .qsTpltShowGalleryLi {
        margin-bottom: 20px;
    }
    .qsTpltShowGallery .qsTpltShowGalleryLi:last-child {
        margin-bottom: 0px;
    }
</style>

<div id="wrapper" style="width: 640px; position: relative; margin: auto;">
    <div class="qsTpltShowGallery">
        <div class="qsLeftContainer">
            <div class="qsLiItemContainer">
                <div class="qsTpltShowGalleryLi fake"></div>
            </div>
        </div>
        <div class="qsRightContainer">
            <div class="qsLiItemContainer">
                <div class="qsTpltShowGalleryLi fake"></div>
            </div>
        </div>
    </div>
</div>