<link href="../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltShowGalleryLi {
        position: relative;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
    }
    .qsTpltShowGalleryLi .qsItemCover {
        width: 100%;
    }
    .qsTpltShowGalleryLi .qsItemDescription {
        padding: 10px 5px;
    }
    .qsTpltShowGalleryLi .qsSplitter {
        height: 2px;
        background-color: #eee;
    }
    .qsTpltShowGalleryLi .qsPeople {
        padding-top: 10px;
    }
    .qsTpltShowGalleryLi .qsPeople .qsPortrait {
        background-image: url('../../../deps-fake/pics/portraits/smallphoto01.jpg');
        margin-left: 8px;
        margin-bottom: 8px;
        float: left;
        width: 52px;
        height: 52px;
        background-size: cover;
        border-radius: 26px;
        overflow: hidden;
    }
    .qsTpltShowGalleryLi .qsPeople .qsTextContainer {
        padding-bottom: 8px;
        float: left;
        margin: 0px 8px;
        width: calc(100% - 116px);
    }
    .qsTpltShowGalleryLi .qsPeople .qsLine {
        height: 26px;
    }
    .qsTpltShowGalleryLi .qsPeople .qsName {
        float: left;
        color: 4e4e4e;
    }
    .qsTpltShowGalleryLi .qsPeople .qsAge {
        float: right;
    }
    .qsTpltShowGalleryLi .qsPeople .qsStatus {
    }
    .qsTpltShowGalleryLi .qsPeople .qsLikeContainer {
        float: left;
        width: 40px;
        text-align: center;
    }
    .qsTpltShowGalleryLi .qsPeople .qsLike {
        font-size: 1.8em;
        margin-bottom: 4px;
    }
    .qsTpltShowGalleryLi .qsPeople .qsNumLikes {
        padding-right: 2px;
    }
</style>

<div id="wrapper" style="width: 290px; position: relative; margin: auto;">
    <div class="qsTpltShowGalleryLi">
        <img class="qsItemCover fakeSrc" src="../../../deps-fake/pics/covers/moto01.jpg">
        <div class="qsItemDescription fakeText">
            精致合身的轮廓，公主般华丽的礼服！精致合身的轮廓，公主般华丽的礼服！精致合身的轮廓，公主般华丽的礼服！end
        </div>
        <div class="qsSplitter"></div>
        <div class="qsPeople">
            <div class="qsPortrait fakeBackgroundImage"></div>
            <div class="qsTextContainer">
                <div class="qsLine">
                    <div class="qsName fakeText">
                        Sandygirl
                    </div>
                    <div class="qsAge fakeText">
                        24岁
                    </div>
                </div>
                <div class="qsStatus fakeText">
                    每天都需要睡眠。每天都需要睡眠。每天都需要睡眠。每天都需要睡眠。end
                </div>
            </div>
            <div class="qsLikeContainer">
                <div class="qsLike fa fa-heart-o qsIconButton"></div>
                <div class="qsNumLikes fakeText">
                    105
                </div>
            </div>
        </div>
    </div>
</div>