<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltShowGalleryLi {
        position: relative;
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
    }
    .qsTpltShowGalleryLi .qsShowCover {
        width: 100%;
    }
    .qsTpltShowGalleryLi .qsModel {
        overflow: auto;
        margin: 10px 8px;
    }
    .qsTpltShowGalleryLi .qsModel .qsPortrait {
        background-image: url('../../../../server-image-fake/portraits/smallphoto01.jpg');
        float: left;
        width: 52px;
        height: 52px;
        background-size: cover;
        border-radius: 26px;
        overflow: hidden;
    }
    .qsTpltShowGalleryLi .qsModel .qsTextContainer {
        padding-bottom: 8px;
        float: left;
        margin: 0px 8px;
        width: calc(100% - 116px);
    }
    .qsTpltShowGalleryLi .qsModel .qsLine {
        height: 26px;
    }
    .qsTpltShowGalleryLi .qsModel .qsName {
        float: left;
        color: 4e4e4e;
    }
    .qsTpltShowGalleryLi .qsModel .qsAge {
        float: right;
    }
    .qsTpltShowGalleryLi .qsModel .qsStatus {
    }
    .qsTpltShowGalleryLi .qsModel .qsLikeContainer {
        float: left;
        width: 40px;
        text-align: center;
    }
    .qsTpltShowGalleryLi .qsModel .qsLike {
        font-size: 1.8em;
        margin-bottom: 4px;
    }
    .qsTpltShowGalleryLi .qsModel .qsNumFollowers {
        padding-right: 2px;
    }
</style>

<div id="wrapper" style="width: 290px; position: relative; margin: auto;">
    <div class="qsTpltShowGalleryLi">
        <img class="qsShowCover fakeSrc" src="../../../../server-image-fake/covers/moto01.jpg">
        <div class="qsModel">
            <div class="qsPortrait fakeBackgroundImage"></div>
            <div class="qsTextContainer">
                <div class="qsLine">
                    <div class="qsName fakeText">
                        Sandygirl
                    </div>
                    <div class="qsAge fakeText">
                        24岁
                    </div>
                </div>
                <div class="qsStatus fakeText">
                    每天都需要睡眠。每天都需要睡眠。每天都需要睡眠。每天都需要睡眠。end
                </div>
            </div>
            <div class="qsLikeContainer">
                <div class="qsLike fa fa-heart-o qsIconButton"></div>
                <div class="qsNumFollowers fakeText">
                    105
                </div>
            </div>
        </div>
    </div>
</div>