<div>
    <div violet-module="main/views/components/common/Header as header" violet-initOptions="{back : false}"></div>
    <div class="container">
        <div class="col-md-3">
            <ul id="managerTrades" style="float: left"></ul>
        </div>
        <div class="col-md-3">
            <ul id="managerItems"></ul>
        </div>
        <div class="col-md-3">
            <ul id="managerPush"></ul>
        </div>
        <div class="col-md-3">
            <ul id="managerBonus"></ul>
        </div>
    </div>
</div>