<div>
    <div violet-module="main/views/components/common/Header as header"></div>
    <div class="form-group">
        <label for="peopleRef">用户id</label>
        <input class="form-control" id="peopleRef" placeholder="">
    </div>
    <div class="form-group">
        <label for="itemRef">商品id</label>
        <input class="form-control" id="itemRef" placeholder="">
    </div>
    <div class="form-group">
        <label for="actualPrice">虚拟价格</label>
        <input class="form-control" id="actualPrice" placeholder="">
    </div>

    <button class="btn btn-default">
        提交
    </button>
</div>