<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltGenderMain {
        /*padding: 20px;*/
        overflow: auto;
        width: 640px;
    }

    .qsTpltGenderMain .fa-check-circle2:after {
        content: "\f058";
    }

    .qsTpltGenderMain .fa-check-circle-o2:after {
        content: "\f05d";
    }

    .qsTpltGenderMain .qsSubTitle {
        margin: 10px 20px;
        font-size: 1em;
        line-height: 70px;
    }

    .qsTpltGenderMain .qsListInfoSection {
        margin: 0;
        border-radius: 4px;
        /*box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
        background-color: #fff;
        width: 100%;
    }

    .qsTpltGenderMain .qsListInfoSection .qsRow {
        overflow: hidden;
        border-bottom: #dadada solid 1px;
        padding: 9px 5px 9px 0;
    }

    .qsTpltGenderMain .qsHidden{
        display: none;
    }
    .qsTpltGenderMain .qsRow {
        position: relative;
        height: 49px;
        border-bottom: #dadada solid 1px;
    }
    .qsTpltGenderMain .qsRow > div {
        margin-left: 15px;
    }
    .qsTpltGenderMain .qsRow .qsTitle {
        float: left;
        line-height: 49px;
        height: 49px;
    }
    .qsTpltGenderMain .qsRow .qsValue {
        float: left;
        width: calc(100% - 15px - 60px - 15px);
    }
    .qsTpltGenderMain .qsRow .qsDisable {
        color: #dbdbdb;
    }
    .qsTpltGenderMain .qsRow .fa-check-circle2 {
        position: absolute;
        right: 12px;
        line-height: 49px;
    }
    .qsTpltGenderMain .qsRow .fa-check-circle-o2 {
        position: absolute;
        right: 12px;
        line-height: 49px;
    }
</style>

<div id="wrapper" style="width: 640px; position: relative; margin: auto;">
    <div class="qsTpltGenderMain">
        <h2 class="qsSubTitle">请选择您的性别:</h2>
        <section class="qsListInfoSection">
        </section>
        <div class="qsHidden">
            <div class="qsRow">
                <div class="qsTitle"></div>
                <div class="qsValue"></div>
                <div class="fa fa-check-circle-o2 qsDisable"></div>
            </div>
        </div>
    </div>
</div>
