<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltUserSettingMain {
        /*padding: 20px;*/
        overflow: auto;
    }

    .qsTpltUserSettingMain .fa-chevron-right2:after {
        content: "\f054";
        margin: 0 0 0 420px;
    }

    .qsTpltUserSettingMain .qsPortrait {
        background-image: url('');
        float: left;
        width: 52px;
        height: 52px;
        background-size: cover;
        border-radius: 26px;
        overflow: hidden;
        margin: 0 15px;
    }

    .qsTpltUserSettingMain .qsThumbnail {
        background-image: url('../../../../server-image-fake/portraits/smallphoto01.jpg');
        float: left;
        width: 52px;
        height: 52px;
        background-size: cover;
        border-radius: 26px;
        overflow: hidden;
        margin: 0 15px;
    }
    .qsTpltUserSettingMain .qsBtn {
        margin: 15px 20px;
        background-color: #fb915f;
        border: 0;
        border-radius: 4px;
        width: 600px;
        padding: 20px 0;
        font-size: 1.3em;
    }
    .qsTpltUserSettingMain .qsBtn > span {
        color: #fff;
    }
    .qsTpltUserSettingMain .qsSubTitle {
        margin: 10px 20px;
        font-size: 1em;
        line-height: 70px;
    }

    .qsTpltUserSettingMain .qsListInfoSection {
        margin: 0;
        border-radius: 4px;
        /*box-shadow: 0 1px 2px rgba(0,0,0,.2);*/
        background-color: #fff;
        width: 100%;
    }

    .qsTpltUserSettingMain .qsListInfoSection .qsRow {
        overflow: hidden;
        border-bottom: #dadada solid 1px;
        padding: 9px 5px 9px 0;
    }
    .qsTpltUserSettingMain .qsListInfoSection .qsSelect {
        border: 0;
        font-size: 1em;
    }
    .qsTpltUserSettingMain .qsRow {
        position: relative;
        height: 49px;
        border-bottom: #dadada solid 1px;
    }
    .qsTpltUserSettingMain .qsRow > div {
        margin-left: 15px;
    }
    .qsTpltUserSettingMain .qsRow .qsTitle {
        float: left;
        line-height: 49px;
        height: 49px;
    }
    .qsTpltUserSettingMain .qsRow .qsValue {
        float: left;
        width: calc(100% - 15px - 60px - 15px - 25px);
    }
    .qsTpltUserSettingMain .qsRow .qsUnit {
        line-height: 49px;
    }
    .qsTpltUserSettingMain .qsRow .qsValue input {
        width: 100%;
        padding: 0px;
        line-height: 49px;
        height: 49px;
        text-align: right;
        margin: 0 0 0 -5px
    }
    .qsTpltUserSettingMain .qsRow .fa-chevron-right2 {
        position: absolute;
        right: 12px;
        line-height: 49px;
    }
</style>

<div id="wrapper" style="width: 640px; position: relative; margin: auto;">
    <div class="qsTpltUserSettingMain">
        <h2 class="qsSubTitle">选择图片</h2>
        <section class="qsListInfoSection">
            <div class="qsRow qsPortraitContainer">
                <div class="qsPortrait fakeBackgroundImage"></div>
                <div class="qsTitle">
                    个人头像
                </div>
            </div>
            <div class="qsRow qsBackgroundContainer">
                <div class="qsThumbnail fakeBackgroundImage"></div>
                <div class="qsTitle">
                    背景图像
                </div>
            </div>
        </section>
        <h2 class="qsSubTitle">基本信息</h2>
        <section class="qsListInfoSection">
            <div class="qsRow">
                <div class="qsTitle">
                    姓名
                </div>
                <div class="qsValue">
                    <input type="text" id="name" class="qsInput" placeholder="请填写姓名">
                </div>
            </div>
            <div class="qsRow qsGender">
                <div class="qsTitle">
                    性别
                </div>
                <div class="fa fa-chevron-right2"></div>
            </div>
            <div class="qsRow">
                <div class="qsTitle">
                    年龄
                </div>
                <div class="qsValue">
                    <input type="text" id="age" placeholder="请填写年龄">
                </div>
                <div class="qsUnit">
                    岁
                </div>
            </div>
            <div class="qsRow">
                <div class="qsTitle">
                    身高
                </div>
                <div class="qsValue">
                    <input type="text" id="height" placeholder="请填写身高">
                </div>
                <div class="qsUnit">
                    cm
                </div>
            </div>
            <div class="qsRow">
                <div class="qsTitle">
                    体重
                </div>
                <div class="qsValue">
                    <input type="text" id="weight" placeholder="请填写体重">
                </div>
                <div class="qsUnit">
                    kg
                </div>
            </div>
            <div class="qsRow qsHairType">
                <div class="qsTitle">
                    发型
                </div>
                <div class="fa fa-chevron-right2"></div>
            </div>
        </section>
        <h2 class="qsSubTitle">其他</h2>
        <section class="qsListInfoSection">
            <div class="qsRow qsPasswd">
                <div class="qsTitle">
                    更改密码
                </div>
                <div class="fa fa-chevron-right2"></div>
            </div>
            <div class="qsRow qsEmail">
                <div class="qsTitle">
                    更改邮件地址
                </div>
                <div class="fa fa-chevron-right2"></div>
            </div>
            <div class="qsRow">
                <div class="qsTitle">
                    通知设定
                </div>
                <div class="fa fa-chevron-right2"></div>
            </div>
            <div class="qsRow qsRegulation">
                <div class="qsTitle">
                    使用条例
                </div>
                <div class="fa fa-chevron-right2"></div>
            </div>
            <div class="qsRow qsHelp">
                <div class="qsTitle">
                    帮助
                </div>
                <div class="fa fa-chevron-right2"></div>
            </div>
            <div class="qsRow">
                <div class="qsTitle">
                    关于会员
                </div>
                <div class="fa fa-chevron-right2"></div>
            </div>
        </section>
        <button class="qsBtn" id="logout">
            <span>退出登录<span>
        </button>
    </div>
</div>
