<link href="../../libs/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet"/>
<link href="../../css/app.css" rel="stylesheet"/>
<style>
    .qsTpltUserComparisonMenu {
        cursor: default;
        height: 140px;
        width: 100%;
    }
    .qsTpltUserComparisonMenu .qsInfo {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.4);
    }
    .qsTpltUserComparisonMenu .qsComparison, .qsTpltUserComparisonMenu .qsRemove {
        opacity: .9;
        font-size: 36px;
        text-align: center;
        line-height: 80px;
        margin: 30px 0;
        position: absolute;
        width: 260px;
        height: 80px;
    }
    .qsTpltUserComparisonMenu .qsComparison {
        left: 36px;
        background-color: rgba(255,0,0,.4);
        color: #fff;
    }
    .qsTpltUserComparisonMenu .qsRemove {
        right: 36px;
        background-color: #fff;
        color: #000;
    }
</style>

<div id="wrapper" style="width: 640px; height: 140px; position: relative; margin: auto;">
    <div class="qsTpltUserComparisonMenu">
        <div class="qsInfo">
            <div class="qsComparison">
                百里挑衣
            </div>
            <div class="qsRemove">
                删除
            </div>
        </div>
    </div>
</div>
